<%= render 'navbar' %>

<h1>Editing budget</h1>

<div id="page-content-wrapper">
  <div class="row">
    <div class="col-md-9 col-md-push-2">
      <%= render "budgets/forms/#{current_budget_section}" %>
    </div>
    <div class="col-md-8 col-md-offset-8">
      <%= render "show" %>
    </div>
  </div>
</div>




      

