<%= render 'navbar' %>

<h1>Editing budget</h1>

<div id="page-content-wrapper">
  <div class="row">
    <div class="col-md-9 col-md-push-2"><%= render "budgets/forms/income" %> </div>
    <div class="col-md-8 col-md-offset-8"><%= render "show" %></div>
  </div>
</div>
<%#= render 'form' %>

<%#= link_to 'Show', @budget %> 
<%#= link_to 'Back', budgets_path %>



      

