<div class="row">
  <div class="col-md-8 col-centered">
    <h1 class="text-center">
      Will you survive the year (financially)?
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-centered text-center">
    <%= button_to "Create Budget", { action: "create" }, class: "btn btn-default" %>
  </div>
</div>
