<center><blockquote><p> Brian and Tom want to help you budget. Give us information on your income and monthly expenses  and we'll let you know how much extra cash you should have at the end of each month. <%= link_to "Happy Budgeting", root_path %></p>
</blockquote></center>

<center><%= image_tag("other_money.png") %></center>  