<div class="row">
  <div class="col-md-8 col-centered">
    <h1 class="text-center">
      Will you survive the year (financially)?
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-centered text-center">
    <%= button_to "Create Budget", { controller: "budgets", action: "create" }, class: "btn btn-default" %>
    <%= image_tag("swiss_army.png") %>
  </div>
</div>

<% if signed_in? %>
  <div class="row">
    <div class="col-md-3 col-xs-4 col-centered">
      <table class="col-centered table table-striped">
        <tr><th COLSPAN="2" class="text-center"> Your Budgets</th></tr>
        <% @budgets.each do |budget| %>
          <tr>
            <td class="text-center">
              <%= link_to budget.created_at, budget_edit_path(budget) %>
            </td>
            <td class="text-center">
              <%= link_to "x", budget_path(budget), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
