<h2>How much will you spend on cable and internet each month?</h2>

<div class="row-fluid">
  <%= form_for(@budget) do |f| %>

    <div class="form-group col-md-3 col-xs-3">
      <%= f.number_field :cable_internet, class: "form-control", autofocus: true %>
    </div>

    <div class="row">
      <%= f.submit "Next", class: "btn btn-default" %>
    </div>

    <%= hidden_field_tag(:section, "cable_internet") %>
  <% end %>
</div>
