<h2> Do you want cable and internet? </h2>
<%= form_for(@budget) do |f| %>

  <div class="field">
    <%= f.number_field :cable_internet %>
  </div>

  <%= hidden_field_tag(:section, "cable_internet") %>

  <div>
    <%= f.submit "Next", class: "btn btn-default" %>
  </div>

<% end %>
