<h2>Do you have any debt to pay off?</h2>

<%= form_for(@budget) do |f| %>

  <div class="field">
    <%= f.number_field :debt_service %>
  </div>

  <%= hidden_field_tag(:section, "debt_service") %>

  <div>
    <%= f.submit "Next", class: "btn btn-default" %>
  </div>

<% end %>
