<h2>What size emergency fund do you want to save?</h2>

<%= form_for(@budget) do |f| %>

  <div class="field">
    <%= f.number_field :emergency %>
  </div>

  <%= hidden_field_tag(:section, "emergency") %>

  <div>
    <%= f.submit "Next", class: "btn btn-default" %>
  </div>

<% end %>

