<h2>What size emergency fund do you want at the end of a year?</h2>

<div class="row-fluid">
  <%= form_for(@budget) do |f| %>

    <div class="form-group col-md-3 col-xs-3">
      <%= f.number_field :emergency, class: "form-control", autofocus: true %>
    </div>

    <div class="row">
      <%= f.submit "Next", class: "btn btn-default" %>
    </div>

    <%= hidden_field_tag(:section, "emergency") %>
  <% end %>
</div>