<h2> Where are you planning on living? </h2>

<%= form_for(@budget) do |f| %>

  <div class="field">
    <%= f.number_field :housing %>
  </div>

  <%= hidden_field_tag(:section, "housing") %>

  <div>
    <%= f.submit "Next", class: "btn btn-default" %>
  </div>

<% end %>
