<h2> How much do you plan on saving a month? </h2>

<%= form_for(@budget) do |f| %>

  <div class="field">
    <%= f.number_field :investing %>
  </div>

  <%= hidden_field_tag(:section, "investing") %>

  <div>
    <%= f.submit "Next", class: "btn btn-default" %>
  </div>

<% end %>