<h2> What's your laundry budget? </h2>
<%= form_for(@budget) do |f| %>

  <div class="field">
    <%= f.number_field :laundry %>
  </div>

  <%= hidden_field_tag(:section, "laundry") %>

  <div>
    <%= f.submit "Next", class: "btn btn-default" %>
  </div>

<% end %>
