<h2>Checkout your budget</h2>

<h3>You can buy <span id="numOfBeers"></span> beers!!</h3>

  <div class="beerPictures">

  </div>

<h4>Total amount in your emergency fund at the end of the year: $<%= @budget.emergency_yearly %></h4>