<h2>What will you spend on utilities per month? (Electric, Gas, Water)</h2>

<div class="row-fluid">
  <%= form_for(@budget) do |f| %>

    <div class="form-group col-md-3">
      <%= f.number_field :utilities, class: "form-control", autofocus: true %>
    </div>

    <div class="row">
      <%= f.submit "Next", class: "btn btn-default" %>
    </div>

    <%= hidden_field_tag(:section, "utilities") %>
  <% end %>
</div>
