<div id="footer">
  <div class="container">
    <p class="text-muted">Made with ♥ at the Flatiron School by 
      <a href="https://twitter.com/surgentt" target="_blank">@surgentt</a>,
      <a href="https://twitter.com/brianpisano87" target="_blank">@brianpisano87</a>
  </div></p>
  </div>
</div>