<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-left" href="/">Budget Survival Guide</a>
    </div>
    <div>
      <div class="nav-margin navbar-right">
          Made with ♥ at the Flatiron School by 
          <a href="https://twitter.com/surgentt" target="_blank">@surgentt</a>,
          <a href="https://twitter.com/brianpisano87" target="_blank">@brianpisano87</a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", about_path %></li>
    </div>
  </div><!-- /.container-fluid -->
</nav>